// Color system
$white: #fff;
$white-100: #e3e5e8; //Text color on body
$grey: #424955; //body clr
$gray-800: #343a40; //Nav and Footer color
$black: #000;
$purple: #776dee; //primary color

$primary-clr: #f5a540;
$prmary-clr-hover: #e89122;

$primary-clr-light: #e8c9a1;

$dark: $gray-800;

$theme-colors: (
  "primary": $primary-clr,
  "dark": $dark,
);

$body-bg: $grey;
$body-color: $white-100;

// Navs
$navbar-dark-color: $white;
$navbar-dark-hover-color: $primary-clr;
$navbar-dark-active-color: $primary-clr;
$navbar-dark-disabled-color: $white;
$navbar-dark-toggler-icon-bg: str-replace(
  url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"),
  "#",
  "%23"
) !default;
$navbar-dark-toggler-border-color: rgba($white, 0.1) !default;

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";
