.footer {
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
  background-color: $dark;
  padding: 10px;
  font-size: 16px;
  color: $white;
  .icon-group {
    float: right;
    a {
      color: $white !important;
      &:hover {
        color: $white !important;
      }
    }
  }
}
