$light-text-clr: #5b5757; //body color

$gray-800: #ededed; //Nav and Footer color

$dark: $gray-800;

$theme-colors: (
  "primary": $primary-clr,
);

$body-bg: $white;
$body-color: $light-text-clr;

// Navs
$navbar-dark-color: color-yiq($white);
$navbar-dark-color: $light-text-clr;
$navbar-dark-disabled-color: $white;
$navbar-dark-toggler-icon-bg: str-replace(
  url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"),
  "#",
  "%23"
) !default;
$navbar-dark-toggler-border-color: $light-text-clr;

.home-container {
  color: color-yiq($light-text-clr);
}

.wrapper-container {
  .title {
    color: $light-text-clr;
  }
  .sideBar{
    background-color: $gray-800 !important;
    h1{
      color:black;
    }
    h2{
      color:black;
    }
  }
}
.select-branch
{
  button{
    color:black;
    background-color: $gray-800 !important;
    border:none;
    text-align:left;
    font-size:20px;
    padding-left:24px;
  }
  button:hover,button:focus{
    background-color: $gray-800 !important;
    opacity:0.9;
    box-shadow:none!important;
    color:black;
    border:none;
  }
  .dropdown-menu{
    background-color: $gray-800 !important;
    a{
      color:black;
    }
  }
}
.commit-container{
  margin-left:auto!important;
  margin-right:auto!important;
  .commit-line{
    border-left:2px solid $light-text-clr;
  }
  .commit-date h1{
    color:black;
  }
  .commit-list{
    background-color: $gray-800 !important;
    .col-md-2 h1{
      background-color:$body-bg;
    }
  }
  .copy-commit{
    background-color:$body-bg!important;
  }
}
.dataset-container {
  background-color: $gray-800 !important;
  .table {
    color: $light-text-clr;
    th,
    td {
      padding: 0px !important;
    }
  }
}

.samplesContainer {
  background-color: $gray-800 !important;
  .table {
    color: $light-text-clr;
    th,
    td {
      padding:9px!important;
      color: $light-text-clr;
      font-size:1.25vw;
      padding-bottom:10px;
    }
    th:first-child,td:first-child{
      width:15.5%;
    }
    th:nth-child(2),th:nth-child(2){
      width:28%;
    }
    th:nth-child(3),th:nth-child(3){
      width:35.5%;
    }
    th:last-child,td:last-child{
      width:20%;
    }
    thead tr{
      border-bottom:1px solid #FFFFFF;
    }
    tr:not(:last-child){
      border-bottom:1px solid #FFFFFF;
      ;
    }
  }
}

.media {
  background: $gray-800;
  color: $light-text-clr;
  .repo-update {
    color: #c27521;
  }
}
.link-name {
  color: $light-text-clr !important;
  &:hover,
  &:focus {
    color: $light-text-clr !important;
  }
}

// Breadcrumbs
.breadcrumb {
  background-color: transparent !important;
  padding: 0 !important;
  // img {
  //   background: $dark;
  // }
  .breadcrumb-item,
  .breadcrumb-item.active {
    color: $light-text-clr !important;
    a {
      color: $light-text-clr !important;
    }
  }
}

// Buttons
.btn-primary {
  border-radius: 0% !important;
  color: $white !important;
}
.btn-large {
  padding: 10px 80px !important;
}

.search-sec,
.create-repo-container {
  background-color: $gray-800 !important;
  .fa,
  .far,
  .fas,
  .fab {
    color: $white !important;
  }
}

.form-control {
  background-color: $white !important;
  border-color: $white !important;
  color: $light-text-clr !important;
}
.form-search{
  background-image:url('assets/searchDark.png');
}
// icons

.alert-custom {
  color: $white !important;
}

.footer {
  background: $gray-800;
  color: #757373;
  .fa,
  .far,
  .fas,
  .fab {
    color: #757373 !important;
  }
}

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";