.table {
  th,
  td {
    border: none !important;
    text-align: left;
    padding: 0px;
  }
}

.datasample-table {
  th {
    color: #8e9196;
  }
  td {
    span {
      cursor: pointer;
    }
  } 
}
