body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

[theme="dark"] {
  @import "./styles/darktheme.scss";
}
[theme="light"] {
  @import "./styles//lighttheme.scss";
}

@import "./styles/darktheme.scss";
@import "./styles/custom.scss";
@import "./styles/navbar.scss";
@import "./styles/footer.scss";
@import "./styles/button.scss";
@import "./styles/media.scss";
@import "./styles/table.scss";
@import "./styles/breadcrumb.scss";
